{% include base_path %}
{% assign author = site.author %}

<div class="banner">
  <pre>                                                                                  .x+=:.         ..                     
    .uef^"                                        oec :                            z`    ^%  &lt; .z@8"`                     
  :d88E                                          @88888     .u    .                   .   &lt;k  !@88E               u.      
  `888E             u           .        .u      8"*88%   .d88B :@8c       .u       .@8Ned8"  '888E   u     ...ue888b     
   888E .z8k     us888u.   .udR88N    ud8888.    8b.     ="8888f8888r   ud8888.   .@^%8888"    888E u@8NL   888R Y888r    
   888E~?888L .@88 "8888" &lt;888'888k :888'8888.  u888888&gt;   4888&gt;'88"  :888'8888. x88:  `)8b.   888E`"88*"   888R I888&gt;    
   888E  888E 9888  9888  9888 'Y"  d888 '88%"   8888R     4888&gt; '    d888 '88%" 8888N=*8888   888E .dN.    888R I888&gt;    
   888E  888E 9888  9888  9888      8888.+"      8888P     4888&gt;      8888.+"     %8"    R88   888E~8888    888R I888&gt;    
   888E  888E 9888  9888  9888      8888L        *888&gt;    .d888L .+   8888L        @8Wou 9%    888E '888&  u8888cJ888     
   888E  888E 9888  9888  ?8888u../ '8888c. .+   4888     ^"8888*"    '8888c. .+ .888888P`     888E  9888.  "*888*P"      
  m888N= 888&gt; "888*""888"  "8888P'   "88888%     '888        "Y"       "88888%   `   ^"F     '"888*" 4888"    'Y"         
   `Y"   888   ^Y"   ^Y'     "P'       "YP'       88R                    "YP'                   ""    ""                  
        J88"                                      88&gt;                                                                     
        @%                                        48                                                                      
      :"                                          '8                                                                     </pre>

  <div class="urls-wrapper">
    <ul class="urls social-icons">
        <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://hackerone.com/{{ author.hackerone }}?type=user"><img src="/images/h1.svg" width="15"></a></li>
        <li><a href="https://bugcrowd.com/{{ author.bugcrowd }}"><img src="/images/bugcrowd.png" width="17" style="width:17pt; margin-left: 5pt;"></a></li>
    </ul>
  </div>  
</div>