{% include base_path %}

<div class="banner">
  <pre> _                     __               _     ___  
| |                   / _|             | |   / _ \ 
| |__   __ _  ___ ___| |_ _ __ ___  ___| | _| | | |
| '_ \ / _` |/ __/ _ \  _| '__/ _ \/ __| |/ / | | |
| | | | |_| | |_|  __/ | | | |  __/\__ \   <| |_| |
|_| |_|\__,_|\___\___|_| |_|  \___||___/_|\_\\___/</pre>
</div>

<div class="urls-wrapper">
  <ul class="urls social-icons">
      <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://hackerone.com/{{ author.hackerone }}?type=user"><img src="/images/h1.svg" width="15"></a></li>
      <li><a href="https://bugcrowd.com/{{ author.bugcrowd }}"><img src="/images/bugcrowd.png" width="17" style="width:17pt; margin-left: 5pt;"></a></li>
  </ul>
</div>
