{% include base_path %}
{% assign author = site.author %}

<div class="banner">
  <pre class="ascii">
                                                                                  .x+=:.         ..                  
  .uef^"                                        oec :                            z`    ^%  &#60; .z@8"`                  
:d88E                                          @88888     .u    .                   .   &#60;k  !@88E               u.   
`888E             u           .        .u      8"*88%   .d88B :@8c       .u       .@8Ned8"  '888E   u     ...ue888b  
 888E .z8k     us888u.   .udR88N    ud8888.    8b.     ="8888f8888r   ud8888.   .@^%8888"    888E u@8NL   888R Y888r 
 888E~?888L .@88 "8888" &#60;888'888k :888'8888.  u888888&#62;   4888&#62;'88"  :888'8888. x88:  `)8b.   888E`"88*"   888R I888&#62; 
 888E  888E 9888  9888  9888 'Y"  d888 '88%"   8888R     4888&#62; '    d888 '88%" 8888N=*8888   888E .dN.    888R I888&#62; 
 888E  888E 9888  9888  9888      8888.+"      8888P     4888&#62;      8888.+"     %8"    R88   888E~8888    888R I888&#62; 
 888E  888E 9888  9888  9888      8888L        *888&#62;    .d888L .+   8888L        @8Wou 9%    888E '888&#38;  u8888cJ888  
 888E  888E 9888  9888  ?8888u../ '8888c. .+   4888     ^"8888*"    '8888c. .+ .888888P`     888E  9888.  "*888*P"   
m888N= 888&#62; "888*""888"  "8888P'   "88888%     '888        "Y"       "88888%   `   ^"F     '"888*" 4888"    'Y"      
 `Y"   888   ^Y"   ^Y'     "P'       "YP'       88R                    "YP'                   ""    ""               
      J88"                                      88&#62;                                                                  
      @%                                        48                                                                   
    :"                                          '8                                                                   </pre>

<pre class="desc">[[ another blog about hacking ]]</pre>

</div>
