<head>
    <!--title-->
    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}

    <!--custom CSS-->
    <link rel="stylesheet" href="/assets/css/main.css" />

    <!--google verification-->
    <meta name="google-site-verification" content="{{ site.google_site_verification }}" />

    <!--favicon redirection-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!--Open Graph elements-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}"/>
    <meta property="og:url" content="{{ canonical_url }}" />
    {% if page.header.teaser %}
    <meta property="og:image" content="{{ page.header.teaser | prepend: "/assets/images/" | prepend: site.url }}" />
    {% endif %}
    {% if page.desc %}
    <meta property="og:description" content="{{ page.desc }}" />
    <meta name="description" content="{{ page.desc }}">
    {% endif %}

    <!--Twitter cards-->
    <meta name="twitter:card" content="summary_large_image">

    <!--typing script-->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="/assets/js/typing.js"></script>

    <!--code syntax highlighting-->
    <script src="/assets/js/prism.js"></script>
    <link rel="stylesheet" href="/assets/css/prism.css" />
</head>
