/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.post_link {
  .page__header{
    margin-bottom: 1%;
    margin-top: 1%;
  }
}

.post_link-title {
  margin-bottom: 0.25em;

  a + a {
    opacity: 0.5;
  }}

/* remove border*/
.page__content {

  .post_link-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.post_link-excerpt {
  margin-top: 0;

  & + p {
    text-indent: 0;
  }
}

.post_link-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.post_link:hover {
  .post_link-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }
}


/*
   List view
   ========================================================================== */

.list__item {

  margin-top: 1.6em;

  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .post_link-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .post_link-excerpt {
    display: none;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .post_link-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .post_link-teaser {
      max-height: 120px;
    }

    .post_link-excerpt {
      display: block;
      font-size: $type-size-6;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .post_link-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .post_link-teaser {
        @include span(5 of 12);
      }

      .post_link-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .post_link-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .post_link-teaser {
        @include span(5 of 12 rtl);
      }

      .post_link-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .post_link-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .post_link-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .post_link-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
