/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {

  @include breakpoint($xxx-large) {
    margin-left: 10%;
    margin-right: 0;
    float:left;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  font-size: $type-size-5;
  display: block;
  width: auto;
  height: auto;

  text-align: center;

  @include breakpoint($xxx-large) {
    text-align: left;
  }
}


.urls-wrapper {
  position: relative;
  display: table-cell;
  font-family: $sans-serif;
  z-index: 10;
  position: relative;
  cursor: pointer;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  display: block;
  text-align: center;
}

.urls {
  list-style: none;
  font-size: 30px;
  padding-inline-start: 0;

  img {
    width: 15pt;
    margin-left: 3pt;
    margin-bottom: 4pt;
  }

  li {
    white-space: nowrap;
    display: inline-block;
  }

  a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: $type-size-5;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}
