html {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.3em;
}

body {
    margin: 0;
    height: 98vh;
}

a {
    color: #00ff70;
    text-decoration: none;

    &:hover {
        background-color: #00ff70;
        color: #000000;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .1em solid;
    border-color: #ffffff50;
}
code {
    white-space: pre-wrap;
    text-align: justify;
    border: .1em solid;
    border-color: #ffffff50;
    padding: 1em;
    margin: auto;
    overflow: auto;
    white-space: pre;
    max-width: 760px;
    display: block;
}

::selection {
    color: #000000;
    background: #00ff70;
}

#main {
    width: min-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#decorations {
    border: .1em solid;
    border-bottom: 0;
    padding: .4em 1em;
    cursor: move;
}

#content {
    border: .1em solid;
    padding: 0 1em;
}

#not_found{
    margin: auto;
    width: min-content;
}

#typing,
#typing-result {
    visibility: hidden;
}

.typed-cursor {
    color: #00ff70;
}

#post {
    white-space: pre-wrap;
    text-align: justify;
}

#post_title{
    padding: 1em 0;
}

#\33 d-container {
    position: relative;
    z-index: 2;
    background: #000000;
}

#\33 d-shadow::before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 1em;
    right: 1em;
    border: 1px dashed #ffffff;
    width: 100%;
    height: 100%;
}