html {
    background-color: #000000;
    color: #ffffff;
    font-size: 1em;
}

pre {
    font-family: "Courier New", monospace;
}

::selection {
    color: #000000;
    background: #00ff50;
}

a {
    color: #00ff50;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main {
    margin: auto;
    width: fit-content;
}