html {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.3em;
}

body {
    margin: 0;
}

::selection {
    color: #000000;
    background: #00ff70;
}

a {
    color: #00ff70;
    text-decoration: none;

    &:hover {
        background-color: #00ff70;
        color: #000000;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .1em solid;
    border-color: #ffffff50;
}

.main {
    margin: auto;
    width: fit-content;
    height: 100vh;
}

.post {
    white-space: pre-wrap;
    text-align: justify;

    .code {
        border: .1em solid;
        border-color: #ffffff50;
        padding: 1em;
        margin: 0 1em;
        overflow: auto;
        white-space: pre;
    }
}

.post_title{
    border: .1em solid;
    border-color: #ffffffff;
    padding: 1em;
    width: fit-content;
}

#typing,
#typing-result {
    visibility: hidden;
}

.typed-cursor {
    color: #00ff70;
}

/* 
hack to make it responsible quickly on smartphones: 
only set a width for devices with > 990px
*/
@media only screen and (min-width: 990px) {
    .post {
        width: 55em !important;
    }
}
