---
layout: base
---

<div id="main" role="main">
    
    <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="go_back">
        <a href="/">&lt; Go back</a>
    </div>

    <div class="page__inner-wrap">
        {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
            <h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
            <p class="page__header"><time class="page__date" datetime="{{ page.date | default: "1900-01-01" | date_to_xmlschema }}">{{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time> - <span class="page__tags">{{ post.tag }}</span></p>
        </header>
        {% endunless %}

        <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
        </section>

        <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
            <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        </footer>

        {% if page.share %}{% include social-share.html %}{% endif %}
    </div>
    </article>
</div>